.border-gradient {
  position: relative;
}

.border-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(0deg, #ffffff00, #ffffff22, #ffffff90);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(blue 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.ringa {
  position: relative;
}
.ringa::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: red;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(blue 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-border {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.05%, rgba(0, 0, 0, 0.2) 48.9%),
    linear-gradient(
      180deg,
      rgba(49, 58, 91, 0) -19.57%,
      #313a5b 98.8%,
      rgba(49, 58, 91, 0.22) 130.43%
    );
}

/* .thumb {
    mask-image: linear-gradient(to bottom, transparent, #000),
      linear-gradient(to bottom, #000, transparent), linear-gradient(
        to bottom,
        transparent,
        #000
      ),
       linear-gradient(to bottom, #000, transparent), linear-gradient(to
          bottom, transparent, #000);
    mask-size: 18% 70%;
    mask-position: 0 100%, 25% 25%, 50% 50%, 75% 0, 100% 50%;
    mask-repeat: no-repeat;
  } */

.thumb {
  mask-image: linear-gradient(to bottom, #000, #000), linear-gradient(to bottom, #000, #000),
    linear-gradient(to bottom, #000, #000), linear-gradient(to bottom, #000, #000),
    linear-gradient(to bottom, #000, #000), linear-gradient(to bottom, #000, #000),
    linear-gradient(to bottom, #000, #000), linear-gradient(to bottom, #000, #000),
    linear-gradient(to bottom, #000, #000);
  mask-size: 18% 70%;
  mask-position:
    0 100%,
    25% 25%,
    50% 50%,
    75% 0,
    100% 50%;
  mask-repeat: no-repeat;
}
